name: fastapi-test-ci

on:  
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      AWS_LOG_ACCESS_KEY: ${{ secrets.AWS_LOG_ACCESS_KEY }}
      AWS_LOG_SECRET_KEY: ${{ secrets.AWS_LOG_ACCESS_KEY }}
      CI_FLAG: ${{ secrets.CI_FLAG }}
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v3
      - 
        id: commit
        uses: pr-mpt/actions-commit-hash@v2
      - 
        name: Loading file from S3
        uses: keithweaver/aws-s3-github-action@v1.0.0
        with:
          command: cp
          source: s3://sevir-bucket-01/database-files/sql_scraped_database.db
          destination: ./fastapi-app/sql_scraped_database.db
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_KEY }}
          aws_region: us-east-1
      -
        name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - 
        name: Install pipenv
        run: pip install pipenv
      - 
        name: Run tests
        working-directory: ./fastapi-app
        run: |
          pipenv install -r requirements.txt
          pipenv run pytest -v                          
        # Running pytest